
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #441644;
  height: 150px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav ul{
  list-style:none;
  text-align: left;
  text-decoration: none;
}

.nav a{
  text-decoration: none;
  color: goldenrod;
}

.nav li{
  color: goldenrod;
  display: inline-block;
  height: auto;
  width: 80%;
  border: darkgoldenrod 1px solid;
  box-shadow: chocolate 1px 1px 1px;
  margin: 3px 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #560356;
}


#options{
  width: 38%;
  display: inline-block;
}
#logout{
  width: 37%;
  margin-left: 1.1%;
  display: inline-block;
}

.awek{
  width: 80%;
  height: auto;
  border: darkorange 1px solid;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
}

.metryka{
  text-align: left;
  width: 80%;
  display: inline-block;
}